body {
	background-image: url('/images/bgblur.png');
	background-size: cover;
	padding-top: 20px;
}

.jumbotron {
	opacity: 100%;
	background-blend-mode: lighten;
	padding: 20px 20px 0 0;
	position: sticky-top;
}

.pagelogo {
	height: 75px;
	margin-right: auto;
	margin-left: auto;
}

.carousel-indicators li {
	background-color: black;
}

.display-4 {
	text-align: center;
}
