body {
	background-image: url('/images/bgblur.png');
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 20px;
}

.jumbotron {
	opacity: 100%;
	background-blend-mode: lighten;
	padding: 20px 20px 0 0;
	position: sticky-top;
	margin: 0;
}

.pagelogo {
	height: 75px;
	margin-right: auto;
	margin-left: auto;
}

.carousel-item {
	margin-top: 20px;
}
.carousel-indicators li {
	background-color: black;
}

.display-4 {
	text-align: center;
}

.btn {
	margin: auto;
	width: 100%;
	padding-top: 5px;
	display: block;
}

h3 {
	text-align: center;
	margin: auto;
}
